<div id="map">
  <div class="draw-tool-container">
    <button mat-mini-fab (click)="onChangeDrawMode('Circle', true)" [color]="(drawMode$ | async) === 'Circle' ? 'primary' : 'light'">
      <mat-icon>circle_outline</mat-icon>
    </button>
    <button mat-mini-fab (click)="onChangeDrawMode('Point')" [color]="(drawMode$ | async) === 'Point' ? 'primary' : 'light'">
      <mat-icon>workspaces</mat-icon>
    </button>
    <button mat-mini-fab (click)="onChangeDrawMode('LineString', true)" [color]="(drawMode$ | async) === 'LineString' ? 'primary' : 'light'">
      <mat-icon>timeline</mat-icon>
    </button>
    <button mat-mini-fab (click)="onEdit()" [color]="(drawMode$ | async) === 'Edit' ? 'primary' : 'light'">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab (click)="onDelete()" [color]="(drawMode$ | async) === 'Delete' ? 'primary' : 'light'">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
